<div class="row">
  <div class="col s6">
    <h3>Add Listing</h3>
    <%= form_tag('/listings', method: 'post') do %>
      <%= text_field_tag :name %>
      <%= submit_tag 'New Listing' %>
    <% end %>
  </div>

  <div class="col s6">
    <h3>Add User</h3>
    <%= form_tag('/users', method: 'post') do %>
      <%= text_field_tag :name %>
      <%= submit_tag 'New User' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <h6>Send to Users</h6>
    <%= form_tag('/transactions/listing', method: 'get') do %>
      <%= label_tag 'Transfer' %>
      <%= number_field_tag 'value' %>
      <%= label_tag 'From' %>
      <%= select_tag 'from', options_for_select([["Listing" , "" ]] + @assets.collect{ |u| [u.name, u.id]}), class: "browser-default" %>
      <%= label_tag 'To' %>
      <%= select_tag 'to', options_for_select([["User" , "" ]] + @users.collect{ |u| [u.name, u.id]}), class: "browser-default" %>
      <%= submit_tag 'Send' %>
    <% end %>
    <h3>Listings</h3>
    <% if @assets.any? %>
      <ul>
        <% @assets.each do |asset| %>
          <li><%= asset.name %>: <%= asset.equity %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col s6">
    <h6>Send to Listing</h6>
    <%= form_tag('/transactions/user', method: 'get') do %>
      <%= label_tag 'Transfer' %>
      <%= number_field_tag 'value' %>
      <%= label_tag 'From' %>
      <%= select_tag 'from', options_for_select([["User" , "" ]] + @users.collect{ |u| [u.name, u.id]}), class: "browser-default" %>
      <%= label_tag 'To' %>
      <%= select_tag 'to', options_for_select([["Listing" , "" ]] + @assets.collect{ |u| [u.name, u.id]}), class: "browser-default" %>
      <%= submit_tag 'Send' %>
    <% end %>
    <h3>Users</h3>
    <% if @users.any? %>
      <% @users.each do |user| %>
        <li><%= user.name %>: <%= user.balance %></li>
      <% end %>
    <% end %>
  </div>

</div>
